{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<center>
    <form action="/auth" method="POST">
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="Enter your username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    {% set msgs = get_flashed_messages() %}
    {% for msg in msgs %}
    <p>{{ msg }}</p>
    {% endfor %}
</center>

{% endblock %}
